* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .background {
    background:url(../media/fondo_Ala.png)  no-repeat center center/cover;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 1rem;
  }
  
  .login-box {
    background-color: #ddddddd4;
    padding: 2rem;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    display: grid;
    gap: 1rem;
  }
  
  .login-box h2 {
    padding-bottom: 3rem;
    text-align: center;
    
  }
  
  .login-box input,
  .login-box select {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .redes_sociales{
    display: flex;
    justify-content:center;
    gap: 2rem;
    margin-top: 1rem;
  }

  .redes_sociales img{
    max-height: 3rem;
    cursor: pointer;
    box-shadow: -5px 6px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }

  
  button {
    padding: 0.8rem;
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }

  .atras{
    width: 2rem;
  }
  
  button:hover {
    background-color: #444;
  }
  